@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #474747;
  }
/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.section-title{
    font-size: 35px;
    font-weight: 700;

}
.description{
    font-size: 18px;
}
.text-center{
    text-align: center;
}
/* header style */
    .header{
        background-image: url(../images/developer.png), url(../images/header_bg.png);
        background-repeat: no-repeat;
        background-position: top left,bottom right;

    }
/* nav style */

.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
}

/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 20px 200px;
}
.banner-content{
    width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 700;
}
.banner-title{
    font-size: 85px;
    font-weight: 600;
}

.banner-pro-pic{
    width: 580px;

}

/* main stytle */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    
    margin: 130px 0;
}
/* about style */
.about-section{
    padding: 130px 150px;
    border-radius: 10px;
    text-align: center;
}

/* about items */
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-item{
    font-size: 20px;
}
.item-text{
    font-weight: 700;
}

/* skills-container */
.skills-container{
    display: flex;
    gap: 20px;
}
.skill{
    padding: 30px;
    box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume-container  */
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-column-title{
    font-weight: bold;
    font-size: 30px;
    
}
.expre-title{
    color:#474747;
    font-size: 25px;
    font-weight: 700;
}
.exper-subtitle{
    
    font-size: 20px;
    color: #757575;
}
.experiance .describtion{
    font-size: 16px;
    color: #757575;
}

.resume-column hr{
    margin: 30px 5px;
}
.resume-down-cv{
    margin: 50px 0;
}

/* footer  */   

footer{
    padding: 130px 230px;
    display: flex;
    gap: 120px;
}
.footer-column{
    width: 50%;
}

footer input[type="text"] ,input[type="email"] ,footer textarea{
    padding: 10px 20px;
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    display: block;
}
#txtarea{
    height: 180px;
}